# Android Studio configuration.
*.iml
.idea/

# Gradle configuration.
.gradle/
build/

# User configuration.
local.properties

# OS configurations.
.DS_Store

# shiryou
igk_*
srk_*

# 3D models
*.sfa
*.sfb